* {
    margin: 0;
    padding: 0;
}
header, 
footer {
    width: 100%;
    height: 120px;
    background-color: #A3E4D7;
    color: #17202A;
    font: Garamond; 
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
    font: Garamond;
}
p {
    text-align: center;
    font-size: 30px;
    font: Garamond;

  }
  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }